.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease;
  margin-bottom: 20px; /* Add bottom margin to prevent overlap with footer */

  h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
    color: #007BFF;
  }

  .contact-form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    
    label {
      font-size: 1.2em;
      margin-bottom: 10px;
    }

    input, textarea {
      padding: 10px;
      font-size: 1em;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      width: calc(100% - 20px); /* Adjusted width to include padding */
    }

    textarea {
      resize: vertical;
      height: 150px;
    }

    button {
      padding: 10px;
      font-size: 1.2em;
      color: #fff;
      background-color: #007BFF;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #0056b3;
      }
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @media screen and (max-width: 350px) {
    padding: 0; /* Reset padding for smaller screens */
    margin-bottom: 0; /* Reset bottom margin for smaller screens */
    min-height: auto; /* Reset height for smaller screens */

    .contact-form {
      padding: 10px; /* Add padding for smaller screens */
      max-width: none; /* Remove max-width for smaller screens */
    }
  }
}
